<template>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Лиды</h1>

        <router-link to="/dashboard/leads/add">Add lead</router-link>

        <div class="notification is-danger">
          You have reached the top of your limitations. Please upgrade!
        </div>

        <hr />

        <form>
          <div class="field has-addons">
            <div class="control">
              <input type="text" class="input" />
            </div>
            <div class="control">
              <button class="button is-success">Search</button>
            </div>
          </div>
        </form>
      </div>

      <div class="column is-12">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Company</th>
              <th>Contact person</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="lead in leads" :key="lead.id">
              <td>{{ lead.company }}</td>
              <td>{{ lead.contact_person }}</td>
              <td>{{ lead.status }}</td>
            </tr>
          </tbody>
        </table>

        <div class="buttons">
          <button class="button is-light">Previous</button>
          <button class="button is-light">Next</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Leads",
  data() {
    return {
      leads: [],
      showNextButton: false,
      showPreviousButton: false,
      currentPage: 1,
      query: "",
      num_leads: 0,
    };
  },
  mounted() {
    this.getLeads();
  },
  methods: {
    async getLeads() {
      this.$store.commit("setIsLoading", true);

      await axios
        .get(`/api/v1/leads/`)
        .then((response) => {
          console.log(response.data);
          this.leads = response.data;
        })
        .catch((error) => {
          console.log(error);
        });

      this.$store.commit("setIsLoading", false);
    },
  },
};
</script>
